html,
body {
  padding: 0;
  margin: 0;
  font-family: verdana,arial,sans-serif,helvetica;
  font-size: 8pt;
  color: white;
  background-color: #E5E5E5;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



li:not(:last-child)::after {
    content: "| ";
    color: black;
    margin-right: 4px;
    margin-left: 4px;
}

li {
    display: inline-block;
}

li:hover{
  cursor: pointer;
}

ul{
  margin: 0;
}
::selection{
  background: magenta;
}

@media screen and (max-device-width: 800px){
  html,
  body {
    width: 140%
  }
}
